html {
  height: 100%;
}

body {
  margin: auto;
  font-family: sans-serif;
  text-shadow: 2px 2px #A9A9A9;
  background-color: #FFF8DC;
}

main {
  height: 65vh;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

header, #sliderValueContainer, footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#sliderContainer {
  width: 50vw;
}

#slider {
  margin: 10px;
  border: 1px solid black;
  height: 10px;
}

#slider:hover, #slider:hover>span, button {
  cursor: pointer;
}

#rangeContainer {
  display: flex;
  justify-content: space-between;
}

#resetValueContainer>button {
  font-family: inherit;
  background-color: #F8F8FF;
}

#sliderValueContainer {
  align-items: center;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#hand {
  height: 15vh;
  border: 1px solid black;
  background-color: black;
  transform-origin: bottom;
}
